.checkbox{
    
}

.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: slateblue;
    margin: 2em;
    padding: 1em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: rgb(67, 60, 104);
}

.existentes{
    display: flex;
    flex-direction: column;
}