.btn{
    background-color: #CDB4DB;
    color:azure;
    max-width: 5rem;
    margin-left: 0.5em;
    border-radius: 0.3em;
    border-color: transparent;
}
.input{
    border-style: solid;
    border-color: #FFAFCC;
    background-color: #FFC8DD;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;

}